openapi: 3.1.0
x-stoplight:
  id: wgxgvaueexnbs
info:
  title: Dashboard
  version: '1.0'
servers:
  - url: 'https://dash-api.merviltransportes.com'
    description: Server
tags:
  - name: ANTTs
  - name: Atua
  - name: Completed
  - name: Contacts
  - name: Deleted
  - name: History
  - name: Images
  - name: Notes
  - name: Owners
  - name: Reports
  - name: Rooms
  - name: Sectors
  - name: Tasks
  - name: Tickets
  - name: Users
  - name: Workspaces
paths:
  /users:
    get:
      summary: Get Many Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      operationId: get-users
      tags:
        - Users
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: deleted
    post:
      summary: Create a User
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                required:
                  - id
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
      operationId: post-users
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                phoneNumber:
                  type: string
                password:
                  type: string
                sectorId:
                  type: string
                  format: uuid
                roomId:
                  type: string
                  format: uuid
                roleName:
                  $ref: '#/components/schemas/RoleEnum'
              required:
                - name
                - username
            examples: {}
      tags:
        - Users
  /users/me:
    get:
      summary: Get Logged User.
      tags:
        - Users
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-users-me
  /users/login:
    post:
      summary: Login User
      operationId: post-users-login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/User'
                  - type: object
                    properties:
                      jwt:
                        type: string
              examples: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
        description: ''
      security: []
      tags:
        - Users
  '/users/{userId}':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
    delete:
      summary: Delete a User
      tags:
        - Users
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: delete-users-userId
    post:
      summary: Restore user
      operationId: post-users-userId
      tags:
        - Users
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /tasks:
    post:
      summary: Create a Task
      tags:
        - Tasks
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      operationId: post-tasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                sequence:
                  type: integer
                isTimeManaged:
                  type: boolean
                passable:
                  type: boolean
                completable:
                  type: boolean
              required:
                - title
                - sequence
                - isTimeManaged
    get:
      summary: Get Many Tasks
      tags:
        - Tasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      operationId: get-tasks
  '/tasks/{taskId}':
    parameters:
      - schema:
          type: integer
        name: taskId
        in: path
        required: true
    get:
      summary: Get a Task
      tags:
        - Tasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
              examples: {}
      operationId: get-tasks-taskId
    patch:
      summary: Update a Task
      tags:
        - Tasks
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      operationId: patch-tasks-taskId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                sequence:
                  type: integer
                isTimeManaged:
                  type: boolean
                passable:
                  type: boolean
                completable:
                  type: boolean
    delete:
      summary: Delete a Task
      tags:
        - Tasks
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      operationId: delete-tasks-taskId
  '/tasks/{taskId}/tickets':
    parameters:
      - schema:
          type: integer
        name: taskId
        in: path
        required: true
    get:
      summary: Get Tickets of Task
      tags:
        - Tasks
        - Tickets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tickets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticket'
                  numberOfTickets:
                    type: integer
                required:
                  - tickets
                  - numberOfTickets
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-tasks-taskId-tickets
  /sectors:
    post:
      summary: Create a Sector
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
      operationId: post-sectors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      tags:
        - Sectors
    get:
      summary: Get Many Sectors
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sector'
      operationId: get-sectors
      tags:
        - Sectors
    parameters: []
  '/sectors/{sectorId}':
    parameters:
      - schema:
          type: string
        name: sectorId
        in: path
        required: true
    delete:
      summary: Delete a Sector
      tags:
        - Sectors
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: delete-sectors-sectorId
  '/sectors/{sectorId}/task-permissions':
    parameters:
      - schema:
          type: string
        name: sectorId
        in: path
        required: true
    get:
      summary: Get Task Permissions Of Sector
      tags:
        - Sectors
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskPermission'
              examples: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-sectors-sectorId-task-permissions
    put:
      summary: Set Task Permission of Sector
      tags:
        - Sectors
      operationId: put-sectors-sectorId-task-permissions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                permissions:
                  type: array
                  items:
                    type: object
                    properties:
                      taskId:
                        type: integer
                      action:
                        $ref: '#/components/schemas/ActionEnum'
            examples: {}
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskPermission'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /tickets:
    post:
      summary: Create a Ticket
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      operationId: post-tickets
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                licensePlate:
                  type: string
                price:
                  type: number
                originCity:
                  type: string
                originState:
                  type: string
                destinyCity:
                  type: string
                destinyState:
                  type: string
                clientName:
                  type: string
                loadingDate:
                  type: string
                stopOver:
                  type: string
                product:
                  type: string
                isTrocaNota:
                  type: boolean
                driverName:
                  type: string
                taskId:
                  type: integer
                status:
                  $ref: '#/components/schemas/StatusEnum'
                isRiskManaged:
                  type: boolean
                isDriverRegistered:
                  type: boolean
              required:
                - licensePlate
                - price
                - originCity
                - originState
                - destinyCity
                - destinyState
                - clientName
                - loadingDate
                - stopOver
                - product
                - driverName
                - taskId
            examples: {}
        description: ''
      description: ''
      tags:
        - Tickets
    parameters: []
    get:
      summary: Get many Tickets.
      operationId: get-tickets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ticket'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      tags:
        - Tickets
      parameters:
        - schema:
            type: string
            default: ACTIVE
            enum:
              - ACTIVE
              - DELETED
              - COMPLETED
          in: query
          name: status
  '/tickets/{ticketId}':
    parameters:
      - schema:
          type: integer
        name: ticketId
        in: path
        required: true
    patch:
      summary: Update a Ticket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: patch-tickets-ticketId
      tags:
        - Tickets
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                licensePlate:
                  type: string
                price:
                  type: integer
                originCity:
                  type: string
                originState:
                  type: string
                destinyCity:
                  type: string
                destinyState:
                  type: string
                clientName:
                  type: string
                status:
                  type: string
                loadingDate:
                  type: string
                stopOver:
                  type: string
                product:
                  type: string
                isTrocaNota:
                  type: boolean
                driverName:
                  type: string
                isRiskManaged:
                  type: boolean
        name: ticketId
        in: path
        required: true
    get:
      summary: Get One Ticket
      operationId: get-tickets-ticketId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      tags:
        - Tickets
      parameters: []
    delete:
      summary: Delete a Ticket.
      operationId: delete-tickets-ticketId
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      tags:
        - Tickets
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
              required:
                - reason
  '/tickets/{ticketId}/history':
    parameters:
      - schema:
          type: integer
        name: ticketId
        in: path
        required: true
    get:
      summary: Get Ticket History
      tags:
        - Tickets
        - History
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketHistory'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-tickets-ticketId-history
      description: ''
  '/tickets/{ticketId}/notes':
    parameters:
      - schema:
          type: integer
        name: ticketId
        in: path
        required: true
    get:
      summary: Get Ticket Notes.
      tags:
        - Tickets
        - Notes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketNote'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-tickets-ticketId-notes
    post:
      summary: Create a Note.
      operationId: post-tickets-ticketId-notes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketNote'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      tags:
        - Notes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
  '/tickets/{ticketId}/tasks/next':
    parameters:
      - schema:
          type: integer
        name: ticketId
        in: path
        required: true
    put:
      summary: Pass a Ticket to next task.
      operationId: put-tickets-ticketId-tasks-next
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      tags:
        - Tickets
  '/tickets/{ticketId}/tasks/end':
    parameters:
      - schema:
          type: integer
        name: ticketId
        in: path
        required: true
    put:
      summary: Complete Ticket.
      operationId: put-tickets-ticketId-tasks-end
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      tags:
        - Tickets
  '/tickets/{ticketId}/tasks/{taskId}':
    parameters:
      - schema:
          type: integer
        name: ticketId
        in: path
        required: true
      - schema:
          type: integer
        name: taskId
        in: path
        required: true
    put:
      summary: Return a Ticket to a task.
      operationId: put-tickets-ticketId-tasks-taskId
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      tags:
        - Tickets
  /solicitations:
    post:
      summary: Create a Solicitation.
      tags:
        - Tickets
        - Solicitations
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: post-solicitations
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ticketId:
                  type: number
              required:
                - ticketId
    get:
      summary: Get solicitation
      operationId: get-solicitations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Solicitation'
      parameters:
        - schema:
            type: string
            format: uuid
          in: query
          name: userId
          required: true
      x-extension-1: null
  '/solicitations/{solicitationId}':
    parameters:
      - schema:
          type: string
        name: solicitationId
        in: path
        required: true
    patch:
      summary: Analyze a Solicitation.
      tags:
        - Solicitations
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: patch-solicitations-solicitationId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                approved:
                  type: boolean
  '/sectors/{sectorId}/solicitations':
    parameters:
      - schema:
          type: string
        name: sectorId
        in: path
        required: true
    get:
      summary: Get Solicitations of Sector.
      tags:
        - Solicitations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Solicitation'
              examples: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-sectors-sectorId-solicitations
  '/sectors/{sectorId}/tasks':
    parameters:
      - schema:
          type: string
        name: sectorId
        in: path
        required: true
    get:
      summary: Get tasks sector is responsible for.
      tags:
        - Tasks
        - Sectors
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-sectors-sectorId-tasks
    put:
      summary: Set tasks sector is responsible for.
      tags:
        - Tasks
        - Sectors
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: put-sectors-sectorId-tasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tasksIds:
                  type: array
                  items:
                    type: number
              required:
                - tasksIds
  '/sectors/{sectorId}/shifts':
    parameters:
      - schema:
          type: string
        name: sectorId
        in: path
        required: true
    get:
      summary: Get sector shifts.
      tags:
        - Sectors
        - Shifts
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-sectors-sectorId-shifts
    put:
      summary: Set sector shifts.
      tags:
        - Sectors
        - Shifts
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: put-sectors-sectorId-shifts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shifts:
                  type: object
                  properties:
                    startHour:
                      type: string
                      format: date-time
                    endHour:
                      type: string
                      format: time
                    dayOfWeek:
                      type: number
                      minimum: 1
                      maximum: 7
            examples: {}
        description: ''
  /reports/time:
    get:
      summary: Get Time Report.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  average:
                    type: array
                    items:
                      type: object
                      properties:
                        taskId:
                          type: number
                        timeInMinutes:
                          type: number
                          minimum: 0
                      required:
                        - taskId
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        ticketId:
                          type: number
                        durations:
                          type: array
                          items:
                            type: object
                            properties:
                              taskId:
                                type: number
                              timeInMinutes:
                                type: number
                                minimum: 0
                            required:
                              - taskId
                              - timeInMinutes
                      required:
                        - durations
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-reports-time
      parameters:
        - schema:
            type: number
          in: query
          name: fromTaskSequence
          required: true
        - schema:
            type: number
          in: query
          name: toTaskSequence
          required: true
        - schema:
            type: string
            format: date-time
          in: query
          name: fromDate
          required: true
        - schema:
            type: string
            format: date-time
          in: query
          name: toDate
          required: true
      tags:
        - Reports
    parameters: []
  /reports/timeline:
    get:
      summary: Get Timeline Report.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeline:
                    type: array
                    items:
                      type: object
                      properties:
                        ticketId:
                          type: integer
                        timeline:
                          type: array
                          items:
                            type: object
                            properties:
                              action:
                                type: string
                                enum:
                                  - START
                                  - APPROVED
                                  - STOP
                                  - DECLINED
                              userId:
                                type: string
                                format: uuid
                              timestamp:
                                type: string
                                format: date-time
                      required:
                        - ticketId
                  productivity:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: string
                          format: uuid
                        occupation:
                          type: array
                          items:
                            type: object
                            properties:
                              state:
                                type: string
                                enum:
                                  - ACTIVE
                                  - INACTIVE
                                  - IDLE
                                description: IDLE quando NÃO há tickets para se trabalhar. INACTIVE quando HÁ tickets para se trabalhar.
                              durationInMinutes:
                                type: number
                            required:
                              - state
                              - durationInMinutes
                      required:
                        - occupation
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-reports-timeline
      parameters:
        - schema:
            type: string
            format: date-time
          in: query
          name: day
          required: true
        - schema:
            type: integer
          in: query
          name: taskId
          required: true
      tags:
        - Reports
    parameters: []
  /rooms:
    get:
      summary: Get many Rooms.
      tags:
        - Rooms
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Room'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      operationId: get-rooms
    post:
      summary: Create one Room.
      tags:
        - Rooms
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                  - id
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
      operationId: post-rooms
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
  '/rooms/{roomId}':
    parameters:
      - schema:
          type: string
        name: roomId
        in: path
        required: true
    delete:
      summary: Delete one Room.
      tags:
        - Rooms
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: delete-rooms-roomId
  '/rooms/{roomId}/info':
    parameters:
      - schema:
          type: string
        name: roomId
        in: path
        required: true
    put:
      summary: Update Room Info
      operationId: put-rooms-roomId-info
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
  '/rooms/{roomId}/users/{userId}':
    parameters:
      - schema:
          type: string
        name: roomId
        in: path
        required: true
      - schema:
          type: string
        name: userId
        in: path
        required: true
    put:
      summary: Transfer User to Room.
      operationId: put-rooms-roomId-users-userId
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - Users
        - Rooms
    delete:
      summary: Remove User from Room.
      operationId: delete-rooms-roomId-users-userId
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - Rooms
        - Users
  /driver-workspaces:
    get:
      summary: Get Workspaces
      tags:
        - Workspaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cpf:
                      type: string
                    phoneNumber:
                      type: string
                    licensePlate:
                      type: string
                  required:
                    - cpf
      operationId: get-driver-workspaces
      parameters: []
    post:
      summary: Create a Workspace
      operationId: post-driver-workspaces
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cpf:
                  type: string
      tags:
        - Workspaces
  /driver-workspaces/search:
    get:
      summary: Search Workspaces
      tags:
        - Workspaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cpf:
                      type: string
                    phoneNumber:
                      type: string
                    licensePlate:
                      type: string
                  required:
                    - cpf
      operationId: search-driver-workspaces
      parameters:
        - schema:
            type: string
          in: query
          name: q
          required: true
    parameters: []
  '/driver-workspaces/{workspaceId}':
    parameters:
      - schema:
          type: string
        name: workspaceId
        in: path
        required: true
    get:
      summary: Get a Workspace
      tags:
        - Workspaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: array
                    items:
                      $ref: '#/components/schemas/Image'
                  antts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Antt'
                  owners:
                    type: array
                    items:
                      $ref: '#/components/schemas/Owner'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/404'
      operationId: get-driver-workspaces-workspaceId
    delete:
      summary: Delete a Workspace.
      operationId: delete-driver-workspaces-workspaceId
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      description: ''
      tags:
        - Workspaces
  '/driver-workspaces/{workspaceId}/result':
    parameters:
      - schema:
          type: string
        name: workspaceId
        in: path
        required: true
    get:
      summary: Get Driver Workspace Result
      tags:
        - Workspaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type:
                  - object
                  - 'null'
                properties:
                  driver:
                    $ref: '#/components/schemas/Driver'
                  pictures:
                    type: array
                    items:
                      type: string
                  lastManifest:
                    type: array
                    items:
                      type: string
                  references:
                    type: object
                    required:
                      - personalContacts
                      - companyContacts
                      - experienceTime
                      - observation
                    properties:
                      personalContacts:
                        type: array
                        items:
                          type: string
                      companyContacts:
                        type: array
                        items:
                          type: string
                      experienceTime:
                        type: string
                      observation:
                        type: string
                  bankAccount:
                    type: object
                    required:
                      - fullName
                      - cpf
                      - bankName
                      - agencyNumber
                      - accountNumber
                      - pixNumber
                    properties:
                      fullName:
                        type: string
                      cpf:
                        type: string
                      bankName:
                        type: string
                      agencyNumber:
                        type: string
                      accountNumber:
                        type: string
                      pixNumber:
                        type: string
                  truckTractor:
                    $ref: '#/components/schemas/TruckComponent'
                  truckTrailers:
                    type: array
                    items:
                      $ref: '#/components/schemas/TruckComponent'
                required:
                  - driver
                  - pictures
                  - lastManifest
                  - references
                  - bankAccount
              examples: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-driver-workspaces-workspaceId-result
    put:
      summary: Update Driver Result.
      operationId: put-driver-workspaces-workspaceId-result
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  driver:
                    id: 0
                    phoneNumber: string
                    cnh:
                      - string
                    addressProof:
                      - string
                    cpf: string
                    name: string
                  pictures:
                    - string
                  lastManifest:
                    - string
                  references:
                    personalContacts:
                      - string
                    companyContacts:
                      - string
                    experienceTime: string
                    observation: string
                  bankAccount:
                    fullName: string
                    cpf: string
                    bankName: string
                    agencyNumber: string
                    accountNumber: string
                    pixNumber: string
                  truckTractor:
                    id: 0
                    licensePlate: string
                    crlv:
                      - string
                    owner:
                      id: 0
                      phoneNumber: string
                      cnh:
                        - string
                      addressProof:
                        - string
                    antt:
                      id: 0
                      rntrc:
                        - string
                      phoneNumber: string
                      cnh:
                        - string
                      addressProof:
                        - string
                  truckTrailers:
                    - id: 0
                      licensePlate: string
                      crlv:
                        - string
                      owner:
                        id: 0
                        phoneNumber: string
                        cnh:
                          - string
                        addressProof:
                          - string
                      antt:
                        id: 0
                        rntrc:
                          - string
                        phoneNumber: string
                        cnh:
                          - string
                        addressProof:
                          - string
              properties:
                driver:
                  type: number
                pictures:
                  type: array
                  items:
                    type: string
                lastManifest:
                  type: array
                  items:
                    type: string
                references:
                  type: object
                  properties:
                    personalContacts:
                      type: array
                      items:
                        type: string
                    companyContacts:
                      type: array
                      items:
                        type: string
                    experienceTime:
                      type: string
                    observation:
                      type: string
                bankAccount:
                  type: object
                  properties:
                    fullName:
                      type: string
                    cpf:
                      type: string
                    bankName:
                      type: string
                    agencyNumber:
                      type: string
                    accountNumber:
                      type: string
                    pixNumber:
                      type: string
                truckTractor:
                  type: object
                  required:
                    - licensePlate
                    - crlv
                    - owner
                    - antt
                  properties:
                    licensePlate:
                      type: string
                    crlv:
                      type: array
                      items:
                        type: string
                    owner:
                      type: number
                    antt:
                      type: number
                truckTrailers:
                  type: array
                  items:
                    type: object
                    properties:
                      licensePlate:
                        type: string
                      crlv:
                        type: array
                        items:
                          type: string
                      owner:
                        type: number
                      antt:
                        type: number
                    required:
                      - crlv
                      - owner
                      - antt
              required:
                - driver
                - pictures
                - lastManifest
                - references
                - bankAccount
                - truckTractor
                - truckTrailers
            examples: {}
      tags:
        - Workspaces
  '/driver-workspaces/{workspaceId}/images':
    parameters:
      - schema:
          type: string
        name: workspaceId
        in: path
        required: true
    post:
      summary: Upload images to Workspace.
      operationId: post-driver-workspaces-workspaceId-images
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items: {}
        description: ''
      tags:
        - Images
  '/driver-workspaces/{workspaceId}/images/{imageName}':
    parameters:
      - schema:
          type: string
        name: workspaceId
        in: path
        required: true
      - schema:
          type: string
        name: imageName
        in: path
        required: true
    get:
      summary: Stream file
      tags:
        - Images
      responses: {}
      operationId: get-driver-workspaces-workspaceId-images-imageName
    delete:
      summary: Remove file from Workspace.
      operationId: delete-driver-workspaces-workspaceId-images-imageName
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      tags:
        - Images
  '/driver-workspaces/{workspaceId}/antts':
    parameters:
      - schema:
          type: string
        name: workspaceId
        in: path
        required: true
    post:
      summary: Add a ANTT to Workspace.
      operationId: post-driver-workspaces-workspaceId-antts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rntrc:
                  type: array
                  items:
                    type: string
                owner:
                  type:
                    - object
                    - number
                  required:
                    - phoneNumber
                  properties:
                    phoneNumber:
                      type: string
                    cnh:
                      type: array
                      items:
                        type: string
                    addressProof:
                      type: array
                      items:
                        type: string
              required:
                - rntrc
                - owner
            examples: {}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Antt'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      tags:
        - ANTTs
  '/driver-workspaces/{workspaceId}/antts/{anttId}':
    parameters:
      - schema:
          type: string
        name: workspaceId
        in: path
        required: true
      - schema:
          type: string
        name: anttId
        in: path
        required: true
    put:
      summary: Update a ANNT.
      operationId: put-driver-workspaces-workspaceId-antts-anttId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Antt'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  rntrc:
                    - string
                  owner:
                    phoneNumber: string
                    cnh:
                      - string
                    addressProof:
                      - string
              properties:
                rntrc:
                  type: array
                  items:
                    type: string
                owner:
                  type:
                    - object
                    - number
                  required:
                    - phoneNumber
                  properties:
                    phoneNumber:
                      type: string
                    cnh:
                      type: array
                      items:
                        type: string
                    addressProof:
                      type: array
                      items:
                        type: string
              required:
                - rntrc
                - owner
            examples: {}
      tags:
        - ANTTs
    delete:
      summary: Remove a ANTT from Workspace.
      operationId: delete-driver-workspaces-workspaceId-antts-anttId
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      tags:
        - ANTTs
  '/driver-workspaces/{workspaceId}/owners':
    parameters:
      - schema:
          type: string
        name: workspaceId
        in: path
        required: true
    post:
      summary: Add Owner to Workspace.
      operationId: post-driver-workspaces-workspaceId-owners
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Owner'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/404'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phoneNumber:
                  type: string
                cnh:
                  type: array
                  items:
                    type: string
                addressProof:
                  type: array
                  items:
                    type: string
              required:
                - phoneNumber
            examples: {}
      tags:
        - Owners
  '/driver-workspaces/{workspaceId}/owners/{ownerId}':
    parameters:
      - schema:
          type: string
        name: workspaceId
        in: path
        required: true
      - schema:
          type: string
        name: ownerId
        in: path
        required: true
    put:
      summary: Update a Owner.
      operationId: put-driver-workspaces-workspaceId-owners-ownerId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Owner'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  phoneNumber: string
                  cnh:
                    - string
                  addressProof:
                    - string
              properties:
                phoneNumber:
                  type: string
                cnh:
                  type: array
                  items:
                    type: string
                addressProof:
                  type: array
                  items:
                    type: string
              required:
                - phoneNumber
      tags:
        - Owners
    delete:
      summary: Remove Owner from Workspace.
      operationId: delete-driver-workspaces-workspaceId-owners-ownerId
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      tags:
        - Owners
  '/users/{userId}/password':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
    put:
      summary: Change User Password
      operationId: put-users-userId-password
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
              required:
                - value
      tags:
        - Users
  '/users/{userId}/info':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
    put:
      summary: Update User Info
      operationId: put-users-userId-info
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
              required:
                - name
                - username
      tags:
        - Users
  '/users/{userId}/role':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
    put:
      summary: Change User Role
      operationId: put-users-userId-role
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  $ref: '#/components/schemas/RoleEnum'
              required:
                - value
      tags:
        - Users
  '/users/{userId}/phone-number':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
    put:
      summary: Change phone number.
      operationId: put-users-userId-phone-number
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
              required:
                - value
      tags:
        - Users
  '/sectors/{sectorId}/users/{userId}':
    parameters:
      - schema:
          type: string
        name: sectorId
        in: path
        required: true
      - schema:
          type: string
        name: userId
        in: path
        required: true
    put:
      summary: Add User to Sector.
      operationId: put-sectors-sectorId-users-userId
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - Sectors
        - Users
    delete:
      summary: Remove User from Sector.
      operationId: delete-sectors-sectorId-users-userId
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - Sectors
        - Users
  /sector-transfer:
    parameters: []
    post:
      summary: Initiate sector transfer.
      operationId: post-sector-transfer
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  format: uuid
                fromSectorId:
                  type: string
                  format: uuid
                toSectorId:
                  type: string
                  format: uuid
              required:
                - userId
                - fromSectorId
                - toSectorId
      tags:
        - Sectors
  '/sectors/{sectorId}/info':
    parameters:
      - schema:
          type: string
        name: sectorId
        in: path
        required: true
    put:
      summary: Update Sector Info
      operationId: put-sectors-sectorId-info
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      tags:
        - Sectors
  '/tickets/{ticketId}/priority':
    parameters:
      - schema:
          type: string
        name: ticketId
        in: path
        required: true
    put:
      summary: Update Ticket Priority
      operationId: put-tickets-ticketId-priority
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: boolean
              required:
                - value
  /contacts:
    get:
      summary: Get contacts
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      minimum: 0
                    name:
                      type: string
                      minLength: 3
                      maxLength: 40
                    phoneNumber:
                      type: string
                      minLength: 10
                      maxLength: 11
                    period:
                      type:
                        - integer
                        - 'null'
                      minimum: 1
                      maximum: 8
                    responsibleUser:
                      type: object
                      required:
                        - id
                        - username
                      properties:
                        id:
                          type: string
                          format: uuid
                        username:
                          type: string
                          minLength: 3
                          maxLength: 255
                  required:
                    - id
                    - name
                    - phoneNumber
                    - period
                    - responsibleUser
      operationId: get-contacts
      description: ''
      parameters:
        - schema:
            type: integer
            default: 0
            minimum: 0
          in: query
          name: page
          description: starts at 0
        - schema:
            type: integer
            minimum: 5
            maximum: 20
            default: 10
          in: query
          name: limit
    post:
      summary: Create a contact
      operationId: post-contacts
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  maxLength: 40
                phoneNumber:
                  type: string
                  minLength: 10
                  maxLength: 11
                period:
                  type: integer
                  minimum: 1
                  maximum: 8
                userId:
                  type: string
                  format: uuid
              required:
                - name
                - phoneNumber
                - period
                - userId
      responses:
        '204':
          description: No Content
      tags:
        - Contacts
  '/contacts/{contactId}':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    patch:
      summary: Update a contact
      operationId: patch-contacts-contactId
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 40
                  minLength: 3
                phoneNumber:
                  type: string
                  minLength: 10
                  maxLength: 11
      tags:
        - Contacts
  '/contacts/{contactId}/period':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    put:
      summary: Update contact period
      operationId: put-contacts-contactId-period
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  value: 0
              properties:
                value:
                  type: integer
                  minimum: 1
              required:
                - value
      tags:
        - Contacts
    delete:
      summary: Inactivate contact
      operationId: delete-contacts-contactId-period
      responses:
        '204':
          description: No Content
      tags:
        - Contacts
  '/contacts/{contactId}/users/{userId}':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
      - schema:
          type: string
          format: uuid
        name: userId
        in: path
        required: true
    put:
      summary: Assign contact to an user
      operationId: put-contacts-contactId-users-userId
      responses:
        '204':
          description: No Content
      tags:
        - Contacts
  '/users/{userId}/contacts':
    parameters:
      - schema:
          type: string
          format: uuid
        name: userId
        in: path
        required: true
    get:
      summary: Get pendent contacts of user
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      minimum: 0
                    name:
                      type: string
                      minLength: 3
                      maxLength: 40
                    phoneNumber:
                      type: string
                      minLength: 10
                      maxLength: 11
                    period:
                      type:
                        - integer
                        - 'null'
                      nullable: true
                    isPendent:
                      type: boolean
                  required:
                    - name
                    - phoneNumber
                    - period
                    - isPendent
      operationId: get-users-userId-contacts
      x-internal: false
  '/contacts/{contactId}/interaction':
    parameters:
      - schema:
          type: string
        name: contactId
        in: path
        required: true
    post:
      summary: Register interaction
      operationId: post-contacts-contactId-interaction
      responses:
        '201':
          description: Created
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                released:
                  type: boolean
                observation:
                  type: string
                  minLength: 10
                  maxLength: 255
              required:
                - released
                - observation
      tags:
        - Contacts
  /reports/contacts:
    get:
      summary: Generate contact report
      tags:
        - Contacts
        - Reports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  goal:
                    type: object
                    required:
                      - total
                      - current
                      - percentage
                      - maxPercentage
                    properties:
                      total:
                        type: integer
                        minimum: 0
                      current:
                        type: integer
                        minimum: 0
                      percentage:
                        type: number
                        minimum: 0
                        maximum: 100
                      maxPercentage:
                        type: number
                        minimum: 0
                        maximum: 100
                        description: 'The maximum possible goal reach, assuming all future goals will be meet.'
                  positivization:
                    type: object
                    required:
                      - goal
                      - current
                      - percentage
                    properties:
                      goal:
                        type: integer
                        minimum: 0
                      current:
                        type: integer
                        minimum: 0
                      percentage:
                        type: number
                        minimum: 0
                        maximum: 100
                  periods:
                    type: array
                    items:
                      type: object
                      properties:
                        period:
                          type: integer
                          minimum: 1
                          maximum: 6
                        goal:
                          type: object
                          required:
                            - total
                            - current
                            - percentage
                            - maxPercentage
                          properties:
                            total:
                              type: integer
                              minimum: 0
                            current:
                              type: integer
                              minimum: 0
                            percentage:
                              type: number
                              minimum: 0
                              maximum: 100
                            maxPercentage:
                              type: number
                              minimum: 0
                              maximum: 100
                              description: 'The maximum possible goal reach, assuming all future goals will be meet.'
                        positivization:
                          type: object
                          required:
                            - goal
                            - current
                            - percentage
                          properties:
                            goal:
                              type: integer
                              minimum: 0
                            current:
                              type: integer
                              minimum: 0
                            percentage:
                              type: number
                              minimum: 0
                              maximum: 100
                        details:
                          type: array
                          items:
                            type: object
                            properties:
                              goal:
                                type: integer
                                minimum: 0
                              current:
                                type: integer
                                minimum: 0
                              percentage:
                                type: number
                                minimum: 0
                                maximum: 100
                              offset:
                                type: integer
                                minimum: 5
                                maximum: 5
                            required:
                              - goal
                              - current
                              - percentage
                              - offset
                      required:
                        - period
                        - goal
                        - positivization
                        - details
                required:
                  - goal
                  - positivization
                  - periods
      operationId: get-reports-contacts
      parameters:
        - schema:
            type: string
            enum:
              - jan
              - feb
              - march
              - april
              - may
              - june
              - july
              - aug
              - sept
              - oct
              - nov
              - dec
          in: query
          name: month
          required: true
        - schema:
            type: string
            format: date-time
            minimum: 2000
            maximum: 9999
          in: query
          name: year
components:
  schemas:
    Error:
      title: Error
      type: object
      description: ''
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
      required:
        - statusCode
        - message
        - error
    User:
      title: User
      type: object
      examples: []
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the given user.
        name:
          type: string
        username:
          type: string
        phoneNumber:
          type: string
        sectors:
          type: array
          items:
            $ref: '#/components/schemas/Sector'
        roleName:
          $ref: '#/components/schemas/RoleEnum'
        room:
          $ref: '#/components/schemas/Room'
      required:
        - id
        - name
        - username
        - phoneNumber
        - roleName
    Task:
      type: object
      title: Task
      x-stoplight:
        id: 8uiowevk0wh0o
      description: ''
      maxProperties: 10
      properties:
        id:
          type: integer
        title:
          type: string
          maxLength: 20
        sequence:
          type: integer
          minimum: 0
          maximum: 99
        isTimeManaged:
          type: boolean
        completable:
          type: boolean
          default: false
        passable:
          type: boolean
          default: true
      required:
        - id
        - title
        - sequence
        - isTimeManaged
    Sector:
      title: Sector
      x-stoplight:
        id: q24y3esykbdem
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
        - id
        - name
    TicketNote:
      title: TicketNote
      x-stoplight:
        id: wkk2h44kvtmzy
      type: object
      properties:
        id:
          type: integer
        content:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CondensedUser'
      required:
        - id
        - content
        - createdAt
        - createdBy
    TicketHistory:
      title: TicketHistory
      x-stoplight:
        id: o5guzifogz8bg
      type: object
      properties:
        id:
          type: integer
        action:
          $ref: '#/components/schemas/HistoryActions'
        createdAt:
          type: string
          format: date-time
        movedFrom:
          $ref: '#/components/schemas/Task'
        movedTo:
          $ref: '#/components/schemas/Task'
        triggeredBy:
          $ref: '#/components/schemas/CondensedUser'
      required:
        - id
        - action
        - createdAt
        - triggeredBy
    Ticket:
      type: object
      x-examples:
        example-1:
          id: 0
          driverName: string
          licensePlate: string
          clientName: string
          originCity: string
          destinyCity: string
      examples: []
      title: Ticket
      properties:
        id:
          type: integer
          minimum: 0
        licensePlate:
          type: string
          maxLength: 10
        driverName:
          type: string
          maxLength: 20
        clientName:
          type: string
          maxLength: 20
        originCity:
          type: string
          maxLength: 20
        originState:
          type: string
          maxLength: 20
        destinyCity:
          type: string
          maxLength: 20
        destinyState:
          type: string
          maxLength: 20
        price:
          type:
            - number
            - 'null'
        status:
          $ref: '#/components/schemas/StatusEnum'
        stopOver:
          type: string
        product:
          type: string
        isTrocaNota:
          type: boolean
        loadingDate:
          type: string
          format: date
        isPriotity:
          type: boolean
        isRiskManaged:
          type: boolean
        position:
          type: integer
        orderNumber:
          type:
            - integer
            - 'null'
      required:
        - id
        - licensePlate
        - driverName
        - clientName
        - originCity
        - originState
        - destinyCity
        - destinyState
        - status
        - stopOver
        - product
        - isTrocaNota
        - loadingDate
        - isPriotity
        - isRiskManaged
        - orderNumber
    TaskPermission:
      title: TaskPermission
      x-stoplight:
        id: wru6p9l95i0ea
      type: object
      properties:
        id:
          type: integer
        taskId:
          type: integer
        action:
          $ref: '#/components/schemas/ActionEnum'
      required:
        - id
        - taskId
        - action
    ActionEnum:
      type: string
      title: ActionEnum
      x-stoplight:
        id: zxjwjmom5iez5
      enum:
        - CREATE
        - VIEW
        - UPDATE
        - DELETE
        - PASS
      examples: []
    RoleEnum:
      type: string
      title: RoleEnum
      x-stoplight:
        id: v74rib6b060uu
      enum:
        - ADMIN
        - USER
        - SUPER_ADMIN
    StatusEnum:
      type: string
      title: StatusEnum
      x-stoplight:
        id: sy1f14pfhhcxl
      enum:
        - DECLINED
        - IN_PROGRESS
        - NOT_STARTED
    City:
      title: City
      x-stoplight:
        id: nzvw5uufwxtmf
      type: object
      properties:
        city:
          type: string
        state:
          type: string
      required:
        - city
        - state
    HistoryActions:
      type: string
      title: HistoryActions
      x-stoplight:
        id: 6h3douhf2n84d
      enum:
        - CREATED
        - DELETED
        - PASSED
        - RETURNED
        - UPDATED
        - PRIORITY_UPDATED
        - RISK_MANAGED_UPDATED
    CondensedUser:
      title: CondensedUser
      x-stoplight:
        id: 0ayy2njfybvh4
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
      required:
        - id
        - username
    Solicitation:
      title: Solicitation
      x-stoplight:
        id: x9srzjfznh5pf
      type: object
      properties:
        id:
          type: number
        createdBy:
          $ref: '#/components/schemas/CondensedUser'
        createdAt:
          type: string
          format: date-time
        ticketId:
          type: number
      required:
        - id
        - createdBy
        - createdAt
        - ticketId
    SolicitatioNStatus:
      type: string
      title: SolicitationStatus
      x-stoplight:
        id: v8w5tjutyaoam
      enum:
        - APPROVED
        - IN_PROGRESS
        - DECLINED
    Room:
      title: Room
      x-stoplight:
        id: 185b786c3d444
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
        - id
        - name
    Image:
      title: Image
      x-stoplight:
        id: mm6ax20pj8rry
      type: object
      properties:
        name:
          type: string
        uploadedAt:
          type: string
          format: date-time
      required:
        - name
        - uploadedAt
    DriverResult:
      type: object
      x-examples:
        example-1:
          cnh:
            - {}
          addressProof:
            - {}
          phoneNumber: string
      examples: []
      properties:
        cpf:
          type: string
        name:
          type: string
        phoneNumber:
          type: string
        cnh:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        addressProof:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        pictures:
          type:
            - array
            - 'null'
          items:
            type: string
        lastManifest:
          type:
            - string
            - 'null'
        truckTractor:
          oneOf:
            - $ref: '#/components/schemas/TruckComponent'
            - type: 'null'
        truckTrailers:
          type: array
          items:
            $ref: '#/components/schemas/TruckComponent'
        bankAccount:
          type:
            - object
            - 'null'
          required:
            - id
            - fullName
            - cpf
            - bankName
            - agencyNumber
            - accountNumber
            - pixNumber
          properties:
            id:
              type: number
            fullName:
              type: string
            cpf:
              type: string
            bankName:
              type: string
            agencyNumber:
              type: string
            accountNumber:
              type: string
            pixNumber:
              type: string
        references:
          type:
            - object
            - 'null'
          required:
            - personalContacts
            - companyContacts
            - experienceTime
            - observation
          properties:
            personalContacts:
              type: array
              items:
                type: string
            companyContacts:
              type: array
              items:
                type: string
            experienceTime:
              type: string
            observation:
              type: string
      required:
        - cpf
        - name
        - phoneNumber
        - cnh
        - addressProof
        - pictures
        - lastManifest
        - truckTractor
        - truckTrailers
        - bankAccount
        - references
    TruckComponent:
      title: TruckComponent
      x-stoplight:
        id: 68kmefjpzv4tu
      type: object
      properties:
        licensePlate:
          type: string
        crlv:
          type: array
          items:
            type: string
        owner:
          $ref: '#/components/schemas/Owner'
        antt:
          $ref: '#/components/schemas/Antt'
      required:
        - crlv
        - owner
        - antt
    Antt:
      type: object
      x-examples:
        example-1:
          rntrc:
            - string
          cnh:
            - string
          addressProof:
            - string
          phoneNumber: string
      title: Antt
      properties:
        id:
          type: number
        rntrc:
          type: array
          items:
            type: string
        phoneNumber:
          type: string
        cnh:
          type: array
          items:
            type: string
        addressProof:
          type: array
          items:
            type: string
      required:
        - id
        - rntrc
        - phoneNumber
    Owner:
      title: Owner
      x-stoplight:
        id: dpxl1mwn3dlg9
      type: object
      properties:
        id:
          type: number
        phoneNumber:
          type: string
        cnh:
          type: array
          items:
            type: string
        addressProof:
          type: array
          items:
            type: string
      required:
        - id
        - phoneNumber
    Driver:
      allOf:
        - $ref: '#/components/schemas/Owner'
        - type: object
          properties:
            cpf:
              type: string
            name:
              type: string
          required:
            - cpf
            - name
      title: Driver
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
  responses:
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Example:
              value:
                statusCode: 400
                message: string
                error: Bad Request
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Example:
              value:
                statusCode: 401
                message: string
                error: Unauthorized
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Example:
              value:
                statusCode: 403
                message: string
                error: Forbidden
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Example:
              value:
                statusCode: 404
                message: string
                error: Not Found
    '422':
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Example:
              value:
                statusCode: 422
                message: string
                error: Unprocessable Entity
  requestBodies: {}
security:
  - JWT: []
